@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Tilt+Neon&display=swap');

*{
    padding: 0;
    margin: 0;
}

header{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    background-color: #121212;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 5em;
}

nav{
    height: 2rem;
    background-color: #121212;
    /* background-color: purple; */
    place-items: center;
}

ul{
    font-family: 'Oswald', sans-serif;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

li{
    cursor: pointer;
    display: inline-block;
    position: relative;
}

li a{
    color: white;
    text-decoration: none;
}

li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f1f1f1;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
section{
    height: 30em;
    display: flex;
    color: white;
    place-items: center;
    place-content: center;
}

.home{
    background-color: purple;
  }

  .projects{
    background-color: blue;
  }

  .contact{
    background-color: red;
  }

  .about{
    background-color: gold;
  }