@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* estilo da barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
}

/* estilo do thumb (o botão que pode ser arrastado) */
::-webkit-scrollbar-thumb {
    background-color: #e74443;
    border-radius: 5px;
}

/* estilo do thumb quando o mouse está sobre ele */
::-webkit-scrollbar-thumb:hover {
    background-color: none;
}

/* estilo do track (a área onde o thumb se move) */
::-webkit-scrollbar-track {
    background-color: #0a0a0a;
}

body {
    background-color: #0a0a0a;
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
    background-image: url("img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    box-sizing: border-box;
    width: 100vw;
    height: 80px;
    top: 0;
    left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #e74443;
    background-color: #0a0a0a;
    justify-content: space-around;
    position: sticky;
}

.logo {
    height: 40px;
    font-size: 15px;
}

a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: #e74443;
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    color: #0087ca;
    background-color: #e74443;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a:hover::after {
    color: #0087ca;
    transform: scaleX(1);
    transform-origin: bottom left;
}


ul {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    font-size: 20px;
    justify-items: center;
    list-style: none;
    user-select: none;
}

#btn-mobile {
    display: none;
    color: #e74443;
}

/* .linguica{
    width: 100vw;
    height: 1000px;
    background-color: purple;
} */

.nav2 {
    display: none;
}

@media (max-width: 950px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    .nav1 {
        height: 50px;
        width: 100%;
        /* padding: 20px 0 0 0; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #0a0a0a;
    }

    /* estilo da barra de rolagem */
    ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

@media (max-width: 850px) {

    * {
        transition: 0.3s;
    }

    .header {
        display: flex;
        flex-direction: row;
    }

    nav {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        width: 100%;
        top: 80px;
        right: 0px;
        background: #0a0a0a;
        transition: 0.6s;
        z-index: 1000;
        width: 100vw;
        height: 0px;
        align-items: center;
        visibility: hidden;
        overflow-y: hidden;
    }

    nav ul{
        margin-top: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #nav.active #menu {
        width: 100vw;
        height: calc(100vh - 70px);
        visibility: visible;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: auto;
    }

    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }

    #hamburger {
        border-top: 2px solid;
        width: 20px;
    }

    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    .menu-drop {
        display: flex;
        height: 100vh;
        visibility: visible;
        transition: all .2s;
    }
}